@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 24px;
    color: #414042;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.color-light {
    color: #6D6E71;
}

#container {
    padding: 5vh 10vw;
    width: 50vw;
    max-height: 100vw;
    display: grid;
    grid-template:  "logo social"
                    "break break"
                    "image image";
}

@media (max-width: 600px) {
    #container {
        width: 100vw;
        grid-template:  "logo"
                        "social"
                        "break"
                        "image";
        justify-content: center;
        text-align: center;
    }

    #logo-container {
        margin-bottom: 20px;
    }

    #container div[id$=-container] {
        width: 100vw;
    }

    hr, #bottom, #bottom img {
        display: none !important;
    }
}

#container div[id$=-container] {
    height: 100%;
}

#logo-container {
    grid-area: logo;
    min-width: 300px;
    justify-self: start;
}

#social-container {
    grid-area: social;
    min-width: 300px;
    vertical-align: middle;
    justify-self: end;
}

.social-link::before {
    content: "\25B6\A0";
    vertical-align: 0.3em;
    letter-spacing: 3px;
    font-size: 35%;
}

#social-container a {
    font-weight: 300;
    font-size: 70%;
}

.clear {
    clear: both;
}

#logo {
    font-weight: 900;
    font-size: 250%;
}

#tagline {
    font-weight: 700;
    font-size: 100%;
    letter-spacing: 2px;
}

#break {
    grid-area: break;
    hr {
        border: 0.5px black solid;
    }    
}

#bottom {
    grid-area: image;
}

#bottom,
#bottom img {
    width: 50vw;
    min-width: 300px;
}

#bottom img {
    aspect-ratio: 16/9;
}